@import url(https://fonts.googleapis.com/css?family=Press+Start+2P);

body {
    background-color: #dd4814;
}

#clock {
    margin:auto;
    margin-top:5%;
    padding: 4%;
    border-radius:25px;
    color: #fff;
    background-color:black;
}

.text {
    font-family: 'Press Start 2P', Arial, sans-serif;
    font-size:1.7vw;
    font-weight: 400;
    text-shadow: 0 0 5px #00c6ff;
}

#display {
    margin: 0 auto;
    padding: 0;
    list-style: none;
    text-align: center;
}

.time {
    font-family: 'Press Start 2P', Arial, sans-serif;
    font-weight: 400;
    display: inline;
    font-size: 3.5vw;
    text-align: center; 
    text-shadow: 0 0 5px #00c6ff;
}

#days-left {
    font-family: 'Press Start 2P', Arial, sans-serif;
    font-size:1.8vw;
    font-weight: 400;
    text-shadow: 0 0 5px #00c6ff;
}

.point {
    position: relative;
    padding-left: 1%;
    padding-right: 1%;
}

@media screen and (max-width: 2020px) {
   .time {font-size: 3.3vw;}
   .text {font-size: 1.6vw; }
}