@import url(https://fonts.googleapis.com/css?family=Press+Start+2P);

body {
    /*font-size:12px;*/
}

.clock {
    width: 80%;
    /*margin: 0 auto;*/
    margin:auto;
    padding: 30px;
    border-radius:25px;
    color: #fff;
    background-color:black;
}

#date, #location {
    font-family: 'Press Start 2P', Arial, sans-serif;
    font-size:1.8vw;
    font-weight: 400;
    text-shadow: 0 0 5px #00c6ff;
    /*text-align: center;*/
    /*-ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;*/
}

#days-left {
    font-family: 'Press Start 2P', Arial, sans-serif;
    font-size:1.8vw;
    font-weight: 400;
    text-shadow: 0 0 5px #00c6ff;
}

#display {
    width: 80%;
    margin: 0 auto;
    padding: 0;
    list-style: none;
    text-align: center;
}

ul li {
    
}

.time {
    font-family: 'Press Start 2P', Arial, sans-serif;
    font-weight: 400;
    display: inline;
    /*font-size: 1.0em;*/
    /*font-size: 50px;*/
    font-size: 3.3vw;
    /*font-size:110%;*/
    text-align: center; 
    text-shadow: 0 0 5px #00c6ff;
}

#point {
    position: relative;
    padding-left: 10px;
    padding-right: 10px;
}

.jumbotron {
    background-color: rgb(221, 72, 20);
}


